header img{
  width: 33px;
  float: right;
  padding-right: 5px;
}
#logoutIcon:hover{
  content: url('../images/logoutSelect.png');
  cursor:pointer;
}
#toPianoIcon:hover{
  content: url('../images/pianoSelect.png');
  cursor:pointer;
}
#toVideoIcon:hover{
  content: url('../images/videoNavSelect.png');
  cursor:pointer;
}

nav {
  border-bottom: 2px solid #039eb0;
  margin-bottom: 5px;
}

#navbarTitle{
  color: #000000
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-item{
  margin-right: 1rem;
}

.navbar-brand{
  width: auto;
}

.nav-icon{
  width: 2rem !important;
  height: 2rem !important;
}

