html{
  height: 100%;
  width: 100%;
  overflow:hidden;
  font-family: 'Avenir';
}
body{
  font-family: 'Avenir';
  height: 100%;
}
div{
  position: fixed;
}
/* SIDEBAR CSS */
.sideBar{
  height: 100%;
  position: fixed;
  width: 220px;
  border-right: 1px solid #DDDDDD;
}
.sideBar span{
  display: block;
  font-size: 17px;
  text-align: center;
  border-bottom: 1px solid #ccc7c7;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: 1px;
  width: 100%;
}
.sideBar span:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  color: #039eb0;
  cursor:pointer;
}
.sideBar .fileButton:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  color: #039eb0;
  cursor:pointer;
}
#uploadSpan:active{
  background: #f3f3f3;
}
.sideBar img{
  width: 35px;
  position: absolute;
  margin-left: 8px;
  margin-top: -8px;
}

/* VIDEO & FEEDBACK CSS */
.main .video{
  width: 600px;
  height: 300px;
  box-sizing: border-box;
}
.feedbackDisplay{
  margin-left: 15px;
  margin-top: 15px;
  height: 400px;
  width: 28%;
  left: 925px;
}
.feedbackDisplay input{
  margin-top: 20px;
  margin-left: 20px;
  width: 315px;
  border: 1px solid #ccc7c7;
  border-radius: 10px;
  outline: none;
  height: 30px;
  padding-left: 10px;
}
.feedbackDisplay input:focus{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 4px 1px;
}
.feedbackDisplay .search img{
  height: 30px;
  position: fixed;
  margin-top: 20px;
  margin-left: 10px;
}
.feedbackDisplay .search img:hover{
  content: url("../images/searchSelect.png");
  cursor:pointer;
}
.feedbackDisplay #commentsBox{
  overflow-y: auto;
  margin-top: 10px;
  margin-left: 15px;
  height: 352px;
  width: 400px;
}
.feedbackDisplay .texts p{
  text-align: justify;
  display: inline-block;
  margin-left: 60px;
  margin-top: -23px;
  background: #eefffe;
  border-radius: 10px;
  padding: 15px 20px;
}
.buttons img{
  width: 15%;
  height: auto;
  border: 1px solid #ccc7c7;
  padding: 3px 25px;
  border-radius: 10px;
}
.buttons img:hover{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 4px 1px;
  cursor:pointer;
}
.buttons img:active{
  background: #f3f3f3;
}
#addText, #delete{
  color: white;
  opacity: 0;
  background-color: #bdc5c5;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 15px;
  top: 447px;
}
.typeInFeedback textarea{
  width: 975px;
  height: 150px;
  padding: 7px 12px;
  outline: none;
  font-family: inherit;
  border: 1px solid #ccc7c7;
  border-radius: 10px;
  font-size: 18px;
  padding-right: 81px;
}
.typeInFeedback textarea:focus{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 4px 1px;
}
.typeInFeedback img{
  width: 50px;
  position: fixed;
  right: 100px;
  top: 533px;
}
.typeInFeedback img:hover{
  content: url("../images/enterSelect.png");
  cursor:pointer;
}
ul{
  list-style: none;
  margin-top: 0px;
}
ul li{
  float: left;
  text-align: center;
  line-height: 27px;
  position: relative;
  width: 100%;
}
a{
  text-decoration: none;
  color:black;
  display: block;
  padding:0 10px;
  width: 92%;
  word-wrap: break-word;
}
a:hover{
  background-color: #f3f3f3;
}
ul li ul li{
  float: none;
  background-color: #ffffff;
  margin-left: -80px;
  text-align: center;
  border-bottom: 1px solid #ccc7c7;
}
ul li ul{
  opacity: 1;
  transition: opacity 500ms 0s;
}
ul li:hover ul{
  opacity: 1;
  transition: opacity 500ms 0s;
}

#uploadLabel{
  width: 107%;
  margin-left: -15px;
}

.fileButton{
  width: auto;
}

